{{ define "main" }}

{{ $centerPosition := "{\"coordinates\": [13.42,52.52]}" }}

<map-list position='{{ $centerPosition }}' zoom="3">
    {{ range .Site.RegularPages }}
    {{ $permalink := .Permalink }}
    {{ $title := .Params.title }}
    
    {{with .Params.positions }}
    {{ range  . }}
    {{ $city := .city }}

    {{ with .map }}
    <map-marker
	position='{{ . }}'
	text="<a href='{{ $permalink }}'>{{ $title }} [{{ $city }}]</a>"
    ></map-marker>
    {{ end}}
    {{ end }}
    {{ end }}
    {{ end }}
</map-list>

{{ end }}
