{{ $company := . }}
{{ $hostname := $company.Params.job_board_hostname}}
{{ $provider := $company.Params.job_board_provider}}

<section class="Section">
    {{ partial "company-card" . }}
</section>

<section class="Section">
    {{ partial "map-card" . }}
</section>

<section class="Section">
  {{ range .Params.cities }}
	<list-jobs
		url="{{ $company.Params.job_board_url }}"
		provider="{{ with $provider }}{{ . }}{{end}}"
		hostname="{{ with $hostname }}{{ . }}{{end}}"
		country="germany"
		city="{{.}}"
  ></list-jobs>
	{{ end }}
</section>

<section class="Section">
    {{ partial "edit-this-page-netlify-cms" . }}
</section>
