{{ $company := .company }}
{{ $city := .city }}
{{ $country := .country }}
{{ $closed := .closed }}
{{ $hostname := $company.Params.job_board_hostname}}
{{ $provider := $company.Params.job_board_provider}}

<section class="Section">
	{{ partial "company-card" $company }}
</section>

<section class="Section">
	<list-jobs
		url="{{ with $company.Params.job_board_url }}{{ . }}{{end}}"
		provider="{{ with $provider }}{{ . }}{{end}}"
		hostname="{{ with $hostname }}{{ . }}{{end}}"
		country="{{ with $country }}{{ . }}{{end}}"
		city="{{ with $city }}{{ . }}{{end}}"
		minimized="{{ with $closed }}{{ . }}{{end}}"
	></list-jobs>
</section>
