{{ $file := .File }}
{{ $site := .Site }}

{{ $editUrl := (delimit (slice $site.Params.editNetlifyCmsUrl $file.Section "entries" $file.ContentBaseName "index") "/") }}
{{ $text := (delimit (slice (singularize .Type) .Title) " ") }}

{{ if $site.Params.editNetlifyCmsUrl }}
{{with $file.Path }}
<aside class="EditPage">
    <small>
	Edit
	<a
	    class="EditThisPage"
		   title="Edit this page's content: {{ $file.LogicalName }}"
		   target="_blank"
		   href="{{ $editUrl }}">
	    <i>{{ $text | lower }}</i>
	</a>.
    </small>
</aside>
{{ end }}

{{ end }}
