{{ $permalink := .Params.Permalink }}
{{ $title := .Params.title }}
{{ $centerPosition := false }}

{{ with .Params.positions}}
{{ range  . }}
{{ with .map }}
{{ $centerPosition = . }}
{{ end }}
{{ end }}
{{ end }}

{{ with .Params.positions }}
<aside class="Card Card--map">
    <map-list position='{{ $centerPosition }}'>
	{{ range  . }}
	{{ $city := .city }}

	{{ with .map }}
	<map-marker
	    position='{{ . }}'
	    text="<a href='{{ $permalink }}'>{{ $title }} [{{ $city }}]</a>"
	></map-marker>
	{{ end}}
	{{ end }}
    </map-list>
</aside>
{{ end }}
