/* algolia instantsearch */

.SearchAlgoliaLogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SearchAlgoliaLogo p {
    margin-bottom: 0;
}

.SearchAlgoliaLogo a {
    text-decoration: none;
}

.SearchAlgoliaLogo svg {
    margin-left: 0.5rem;
}

.ais-search-box {
    display: flex;
    align-items: center;
}

.ais-search-box--reset-wrapper,
.ais-search-box--magnifier-wrapper {
    display: none !important;
}

.ais-search-box--input {
    width: 100%;
}

.ais-pagination {
    display: flex;
    flex-wrap: wrap;
}

.ais-pagination--link {
    padding: 1rem;
}

.ais-pagination--link {
    text-decoration: none;
}

.ais-pagination--item__active a {
    font-weight: bold;
    color: var(--color-text);
    text-decoration: underline;
}

.ais-pagination--item__disabled {
    color: var(--color-text-light)
}

.ais-hits--item {
    display: flex;
}

.ais-pagination--item__next,
.ais-pagination--item__previous {
    display: none;
}